<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.einfosoft.com/templates/admin/gati/source/light/posts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Mar 2022 06:51:33 GMT -->

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Dashboard</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/gati/css/app.min.css">
    <link rel="stylesheet" href="/gati/bundles/jquery-selectric/selectric.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/gati/css/style.css">
    <link rel="stylesheet" href="/gati/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/gati/css/custom.css">
    <!--  <link rel='shortcut icon' type='image/x-icon' href='/gati/img/favicon.ico' /> -->
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline me-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-bs-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="menu"></i></a></li>

                    </ul>
                </div>

            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <!--   <div class="sidebar-brand">
                        <a href="index-2.html"> <img alt="image" src="/gati/img/logo.png" class="header-logo" /> <span
                                class="logo-name">Gati</span>
                        </a>
                    </div> -->
                    <div class="sidebar-user">
                        <!--    <div class="sidebar-user-picture">
                            <img alt="image" src="/gati/img/user.png">
                        </div> -->
                        <div class="sidebar-user-details">
                            <div class="user-name">Miradon</div>
                            <div class="user-role">Administrator</div>

                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="dropdown">
                            <a href="/user/dashboard/index" class="nav-link"><i
                                    data-feather="calendar"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/user/dashboard/create-post" class="nav-link"><i
                                    data-feather="check-circle"></i><span>Create Post</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/user/logout" class="nav-link"><i data-feather="users"></i><span>LogOut</span></a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">

                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="/user/dashboard/index">Published</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/user/dashboard/index/st/draft">Draft</a>
                                            </li>
                                            <!--    <li class="nav-item">
                                                <a class="nav-link" href="/user/dashboard/index/st/publish">Published
                                                </a>
                                            </li> -->

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>All Posts</h4>
                                    </div>
                                    <div class="card-body">

                                        <div class="clearfix mb-3"></div>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Author</th>
                                                    <th>Title</th>
                                                    <th>Category</th>
                                                    <th>Created At</th>
                                                    <th>Views</th>
                                                    <th>Featured</th>
                                                    <th>Status</th>
                                                </tr>
                                                <% for (var i = 0; i < post.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <span
                                                            class="d-inline-block ml-1"><%= post[i]['User'].name %></span>
                                                    </td>
                                                    <td><%= post[i].title %>
                                                        <div class="table-links">
                                                            <a href="/articles/<%= post[i].title %>">View</a>
                                                            <div class="bullet"></div>
                                                            <a
                                                                href="/user/dashboard/edit-post/<%= post[i].id %>">Edit</a>
                                                            <div class="bullet"></div>
                                                            <form
                                                                action="/user/dashboard/index/delete/<%= post[i].id %>?_method=POST"
                                                                method="POST" class="d-inline">
                                                                <button type="submit" class="text-danger"
                                                                    style="background: transparent !important; border: none !important;">Trash</button>
                                                            </form>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span><%= post[i].tags %></span>
                                                    </td>
                                                    <td><%= post[i].createdAt %></td>
                                                    <td><%= post[i].views %></td>
                                                    <td>
                                                        <form action="/user/dashboard/index/feat/<%= post[i].id %>"
                                                            method="POST" class="d-inline">
                                                            <% if(post[i].featured === 0) { %>
                                                            <button type="submit" class="badge btn-success">Make
                                                                featured </button>
                                                            <%} %>

                                                            <% if(post[i].featured === 1) { %>
                                                            <button type="submit" class="badge btn-danger">Remove
                                                                featured </button>
                                                            <%} %>
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <div class="badge btn-primary"><%= post[i].status %></div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </table>
                                        </div>
                                        <div class="float-right">
                                            <nav>
                                                <ul class="pagination">
                                                    <% if(locals.currentPage <= 1) { %>
                                                    <li class="page-item disabled">
                                                        <a class="page-link"
                                                            href="/user/dashboard/index/<%= locals.currentPage  - 1 %>"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                    <% if(locals.currentPage > 1) { %>
                                                    <li class="page-item ">
                                                        <a class="page-link"
                                                            href="/user/dashboard/index/<%= locals.currentPage  - 1 %>"
                                                            aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                    <li class="page-item active">
                                                        <a class="page-link" href="#"><%= locals.currentPage %></a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">of</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#"><%= locals.totalPages %></a>
                                                    </li>
                                                    <% if(locals.currentPage < locals.totalPages) { %>
                                                    <li class="page-item">
                                                        <a class="page-link"
                                                            href="/user/dashboard/index/<%= locals.currentPage  + 1 %>"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                    <% } %>

                                                    <% if(locals.currentPage >= locals.totalPages) { %>
                                                    <li class="page-item disabled">
                                                        <a class="page-link"
                                                            href="/user/dashboard/index/<%= locals.currentPage  + 1 %>"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                </ul>
                                            </nav>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="settingSidebar">
                    <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
                    </a>
                    <div class="settingSidebar-body ps-container ps-theme-default">
                        <div class=" fade show active">
                            <div class="setting-panel-header">Setting Panel
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Select Layout</h6>
                                <div class="selectgroup layout-color w-50">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="1"
                                            class="selectgroup-input-radio select-layout" checked>
                                        <span class="selectgroup-button">Light</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="2"
                                            class="selectgroup-input-radio select-layout">
                                        <span class="selectgroup-button">Dark</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                                <div class="selectgroup selectgroup-pills sidebar-color">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="1"
                                            class="selectgroup-input select-sidebar">
                                        <span class="selectgroup-button selectgroup-button-icon"
                                            data-bs-toggle="tooltip" data-original-title="Light Sidebar"><i
                                                class="fas fa-sun"></i></span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="2"
                                            class="selectgroup-input select-sidebar" checked>
                                        <span class="selectgroup-button selectgroup-button-icon"
                                            data-bs-toggle="tooltip" data-original-title="Dark Sidebar"><i
                                                class="fas fa-moon"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Color Theme</h6>
                                <div class="theme-setting-options">
                                    <ul class="choose-theme list-unstyled mb-0">
                                        <li title="white" class="active">
                                            <div class="white"></div>
                                        </li>
                                        <li title="cyan">
                                            <div class="cyan"></div>
                                        </li>
                                        <li title="black">
                                            <div class="black"></div>
                                        </li>
                                        <li title="purple">
                                            <div class="purple"></div>
                                        </li>
                                        <li title="orange">
                                            <div class="orange"></div>
                                        </li>
                                        <li title="green">
                                            <div class="green"></div>
                                        </li>
                                        <li title="red">
                                            <div class="red"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                            id="mini_sidebar_setting">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="control-label p-l-10">Mini Sidebar</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                            id="sticky_header_setting">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="control-label p-l-10">Sticky Header</span>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                                    <i class="fas fa-undo"></i> Restore Default
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="/gati/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/gati/bundles/jquery-selectric/jquery.selectric.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/gati/js/page/posts.js"></script>
    <!-- Template JS File -->
    <script src="/gati/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/gati/js/custom.js"></script>
</body>

<!-- Mirrored from www.einfosoft.com/templates/admin/gati/source/light/posts.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Mar 2022 06:51:33 GMT -->

</html>