<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.einfosoft.com/templates/admin/gati/source/light/create-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Mar 2022 06:51:32 GMT -->

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Create Post</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/gati/css/app.min.css">
    <link rel="stylesheet" href="/gati/bundles/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="/gati/bundles/jquery-selectric/selectric.css">
    <link rel="stylesheet" href="/gati/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/gati/css/style.css">
    <link rel="stylesheet" href="/gati/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/gati/css/custom.css">
    <!--     <link rel='shortcut icon' type='image/x-icon' href='/gati/img/favicon.ico' /> -->

    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline me-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-bs-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="menu"></i></a></li>

                    </ul>
                </div>

            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <!--   <div class="sidebar-brand">
                        <a href="index-2.html"> <img alt="image" src="/gati/img/logo.png" class="header-logo" /> <span
                                class="logo-name">Gati</span>
                        </a>
                    </div> -->
                    <div class="sidebar-user">
                        <!--     <div class="sidebar-user-picture">
                            <img alt="image" src="/gati/img/user.png">
                        </div> -->
                        <div class="sidebar-user-details">
                            <div class="user-name">Miradon</div>
                            <div class="user-role">Administrator</div>

                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="dropdown">
                            <a href="/user/dashboard/index" class="nav-link"><i
                                    data-feather="calendar"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="/user/dashboard/create-post" class="nav-link"><i
                                    data-feather="check-circle"></i><span>Create Post</span></a>
                        </li>
                        <!--   <li class="dropdown">
                            <a href="contact.html" class="nav-link"><i data-feather="users"></i><span>Add
                                    Contents</span></a>
                        </li> -->
                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <% if(locals.failed != null) { %>
                    <h4 class="text-danger"> *<%= locals.failed %></h4>
                    <% } %>
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Write Your Post</h4>
                                    </div>
                                    <div class="card-body">
                                        <form action="/user/dashboard/edit-post/<%= post.id %>" method="post"
                                            enctype="multipart/form-data">
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Title</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <input type="text" name="title" value="<%= post.title %>"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Category</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select class="form-control selectric" name="tags">
                                                        <option value="<%= post.tags %>" selected disabled>
                                                            <%= post.tags %></option>
                                                        <% locals.tags.forEach(tag => { %>
                                                        <option value="<%= tag.tag %>"> <%= tag.tag %></option>
                                                        <% }) %>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Content</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <textarea class="ckeditor"
                                                        name="content"><%= post.content %></textarea>
                                                </div>
                                                <script>
                                                    CKEDITOR.replace('ckeditor');
                                                </script>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Thumbnail</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <div id="image-preview" class="image-preview">
                                                        <label for="image-upload" id="image-label">Choose
                                                            File</label>
                                                        <input type="file" name="image" id="image-upload" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Status</label>
                                                <div class="col-sm-12 col-md-7">
                                                    <select class="form-control selectric" name="status">
                                                        <option value="<%= post.status %>" selected disabled>
                                                            <%= post.status %></option>
                                                        <option>Publish</option>
                                                        <option>Draft</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-4">
                                                <label
                                                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                                <div class="col-sm-12 col-md-7">
                                                    <button class="btn btn-primary">Save Post</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="settingSidebar">
                    <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
                    </a>
                    <div class="settingSidebar-body ps-container ps-theme-default">
                        <div class=" fade show active">
                            <div class="setting-panel-header">Setting Panel
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Select Layout</h6>
                                <div class="selectgroup layout-color w-50">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="1"
                                            class="selectgroup-input-radio select-layout" checked>
                                        <span class="selectgroup-button">Light</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="value" value="2"
                                            class="selectgroup-input-radio select-layout">
                                        <span class="selectgroup-button">Dark</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                                <div class="selectgroup selectgroup-pills sidebar-color">
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="1"
                                            class="selectgroup-input select-sidebar">
                                        <span class="selectgroup-button selectgroup-button-icon"
                                            data-bs-toggle="tooltip" data-original-title="Light Sidebar"><i
                                                class="fas fa-sun"></i></span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="radio" name="icon-input" value="2"
                                            class="selectgroup-input select-sidebar" checked>
                                        <span class="selectgroup-button selectgroup-button-icon"
                                            data-bs-toggle="tooltip" data-original-title="Dark Sidebar"><i
                                                class="fas fa-moon"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <h6 class="font-medium m-b-10">Color Theme</h6>
                                <div class="theme-setting-options">
                                    <ul class="choose-theme list-unstyled mb-0">
                                        <li title="white" class="active">
                                            <div class="white"></div>
                                        </li>
                                        <li title="cyan">
                                            <div class="cyan"></div>
                                        </li>
                                        <li title="black">
                                            <div class="black"></div>
                                        </li>
                                        <li title="purple">
                                            <div class="purple"></div>
                                        </li>
                                        <li title="orange">
                                            <div class="orange"></div>
                                        </li>
                                        <li title="green">
                                            <div class="green"></div>
                                        </li>
                                        <li title="red">
                                            <div class="red"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                            id="mini_sidebar_setting">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="control-label p-l-10">Mini Sidebar</span>
                                    </label>
                                </div>
                            </div>
                            <div class="p-15 border-bottom">
                                <div class="theme-setting-options">
                                    <label class="m-b-0">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                            id="sticky_header_setting">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="control-label p-l-10">Sticky Header</span>
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                                    <i class="fas fa-undo"></i> Restore Default
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="/gati/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/gati/bundles/summernote/summernote-bs4.js"></script>
    <script src="/gati/bundles/jquery-selectric/jquery.selectric.min.js"></script>
    <script src="/gati/bundles/upload-preview/assets/js/jquery.uploadPreview.min.js"></script>
    <script src="/gati/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/gati/js/page/create-post.js"></script>
    <!-- Template JS File -->
    <script src="/gati/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/gati/js/custom.js"></script>
</body>


<!-- Mirrored from www.einfosoft.com/templates/admin/gati/source/light/create-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Mar 2022 06:51:33 GMT -->

</html>